.event {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 270px;
  min-height: 302px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 34px 20px;
  background-color: $color-default-white;
  border-radius: 20px;

  &:last-of-type {
    margin-bottom: 0;

    @include viewport--md {
      margin-bottom: 30px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6px;
  }

  &__dates {
    margin: 0;
    font-family: $font-family--main;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: $color-navy-blue;
  }

  &__price {
    margin: 0;
    font-family: $font-family--main;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.095em;
    color: $color-dark-orange;
  }

  &__type {
    display: block;
    margin: 0;
    margin-bottom: 27px;
    font-family: $font-family--main;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: $color-shuttle-grey;
  }

  &__name {
    margin: 0;
    margin-bottom: 10px;
    font-family: $font-family--main;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: $color-black2;
  }

  &__name,
  &__type,
  &__price,
  &__dates {
    transition: color $default-transition-settings;
  }

  &__locale {
    margin-top: auto;
  }

  &__locale-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $font-family--main;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: $color-black2;
  }

  &__icon {
    margin-left: 3px;
    fill: $color-shuttle-grey;
  }

  &__place {
    margin: 0;
    font-family: $font-family--main;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $color-shuttle-grey;
  }

  .btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -5;
    opacity: 0;
    transition: opacity $default-transition-settings;
  }

  &:hover {
    background: linear-gradient(180deg, #48a3ff 0%, #007eff 100%);

    .event__name {
      color: $color-snow;
    }

    .event__type {
      color: $color-link-water;
    }

    .event__dates {
      color: $color-pale-cornflower-blue;
    }

    .event__price {
      color: $color-neon-carrot;
    }

    .event__locale {
      display: none;
    }

    .btn {
      z-index: 2;
      opacity: 1;
    }
  }
}
