.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 10px;
  }

  &__top {
    background-color: $color-nero;
  }

  &__contacts {
    @include viewport--sm {
      display: flex;
      flex-direction: column;
    }
  }

  &__bottom {
    padding-top: 10px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__toggle {
    display: none;
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 9px;
  }

  &__nav-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 70px;
    padding: 0;
    list-style: none;

    @include viewport--lg {
      margin-right: 0;
    }

    @include viewport--md {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  &__nav-wrapper {
    @include viewport--md {
      overflow: hidden;
      position: fixed;
      top: 120px;
      bottom: 100%;
      right: 0;
      left: 0;
      background-color: $color-default-white;
      transition: bottom $default-transition-settings;
    }

    @include viewport--sm {
      top: 139px;
    }
  }

  &__nav-wrapper.active {
    @include viewport--md {
      overflow-y: auto;
      bottom: 0;
      z-index: 5;
    }
  }

  &__nav-open {
    display: none;
    position: relative;
    border: none;
    background-color: $color-default-white;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;

    @include viewport--md {
      display: block;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 50px;
      height: 8px;
      color: $color-nero;
      background-color: $color-nero;
      border-radius: 3px;
      transition: transform $default-transition-settings;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        width: 50px;
        height: 8px;
        color: $color-nero;
        background-color: $color-nero;
        border-radius: 3px;
      }

      &::before {
        transform: translateY(22px);
      }

      &::after {
        transform: translateY(42px);
        transition: transform $default-transition-settings;
      }
    }

    &--active {
      span {
        transform: translate(0, 22px) rotate(45deg);


        &::before {
          opacity: 0;
        }

        &::after {
          transform: translate(0, 0) rotate(90deg);
        }
      }
    }
  }

  &__nav-item {
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }

    @include viewport--md {
      width: 100%;
      margin-bottom: 20px;
      margin-right: 0;
      text-align: center;
      padding-top: 20px;
      border-top: 1px solid $color-nero;

      &:last-of-type {
        padding-bottom: 20px;
        border-bottom: 1px solid $color-nero;
      }
    }
  }

  &__tel {
    margin-right: 30px;
    position: relative;
    padding-left: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $color-lavender;
    transition: color $default-transition-settings;

    @include viewport--sm {
      margin-bottom: 16px;
    }

    &:last-of-type {
      margin: 0;
    }

    &:hover,
    &:focus {
      color: darken($color-lavender, 20%);

      .header__icon {
        fill: darken(#747478, 20%);
      }
    }

    &:active {
      color: darken($color-lavender, 10%);

      .header__icon {
        fill: darken(#747478, 10%);
      }
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    fill: #747478;
    transform: translateY(-50%);
    transition: fill $default-transition-settings;
  }

  &__nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $color-nero;
    text-transform: uppercase;
    transition: color $default-transition-settings;

    &:hover,
    &:focus {
      color: lighten($color-nero, 20%);
    }

    &:active {
      color: lighten($color-nero, 10%);
    }
  }

  &__search-input {
    display: none;
  }

  &__search-btn {
    position: relative;
    padding: 4px 0 4px 23px;
    color: $color-casablanca;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color $default-transition-settings;

    &:hover,
    &:focus {
      color: darken($color-casablanca, 20%);

      .header__search-icon {
        fill: darken($color-casablanca, 20%);
      }
    }

    &:active {
      color: darken($color-casablanca, 10%);

      .header__search-icon {
        fill: darken($color-casablanca, 10%);
      }
    }
  }

  &__search-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    fill: $color-casablanca;
    transition: fill $default-transition-settings;
  }
}
