.news {
  .layout {
    display: flex;

    @include viewport--sm {
      flex-direction: column;
    }

    .swiper-container {
      width: 100%;
    }
  }

  &__info {
    position: relative;
    flex-shrink: 0;
    width: 270px;
    margin-right: 30px;

    @include viewport--sm {
      width: 100%;
      margin-right: 0;
      margin-bottom: 70px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
    font-family: $font-family--main;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $color-nobel;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 40px;

    @include viewport--sm {
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
