<div class="card">
  <div class="card__content">
    <a class="card__link" href="#">
      <div class="card__img">
        <div class="card__wrapper">
          <img src="img/content/card@1x.png" alt="Изображение товара Котик" width="190" height="190"
            srcset="img/content/card@2x.png 2x">
        </div>
      </div>
    </a>
    <div class="card__text">
      <div class="card__text-top">
        <h3 class="card__title title title--h3">1С:Розница 8.</h3>
        <p class="card__price">26400.00 Р</p>
      </div>
      <p class="card__branch">аптека</p>
    </div>
  </div>
  <div class="card__block"></div>
  <button class="btn btn--blue">Купить</button>
</div>
