<article class="event">
  <h3 class="visuallu-hidden">Событие</h3>
  <div class="event__top">
    <span class="event__dates">17.02.22-21.02.22</span>
    <span class="event__price">5000 руб</span>
  </div>
  <span class="event__type">Курс</span>
  <p class="event__name">Курс обучения по 1С:Бухгалтерия 8, ред.3.0</p>
  <div class="event__locale">
    <div class="event__locale-type">Место
      <svg class="event__icon" width="8" height="8" viewBox="0 0 9 9">
        <use xlink:href="#icon-point"></use>
      </svg>
    </div>
    <p class="event__place">Учебный класс </p>
  </div>
  <button class="btn btn--orange" data-modal="sign-up">Записаться</button>
</article>
