.layout {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 40px;

  @include viewport--lg {
    padding: 0 32px;
  }

  @include viewport--md {
    padding: 0 24px;
  }

  @include viewport--sm {
    padding: 0 16px;
  }

  &--no-padding {
    @include viewport--sm {
      padding: 0;
    }
  }
}

main {
  position: relative;
  background-color: $color-whisper;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1000px;
    top: 450px;
    left: 0;
    background: url("/img/content/products-bg.svg") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;

    @include viewport--md {
      top: 550px;
    }

    @include viewport--sm {
      display: none;
    }
  }
}
